<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'img/footer.css' %}">
</head>
<body>
    <footer>
        <div class="info">
            <div class="info1">
                <p><span id="in1">Online Shopping ❤️</span> <span id="in2">Shop your way out of troubles and stress, Everything you need at your fingerprints</span></p>
            </div>
        </div>
        <div class="info2">
            <div class="info3">
                <div class="l1">
                    <div class="l2">
                        <h2>Get to Know Us </h2>
                        <h3>About Us</h3>
                        <h3>Careers </h3>
                        <h3>Press Releases</h3>
                        <h3>Amazon Science</h3>
                    </div>
                    <div class="l2">
                        <h2>Connect with Us</h2>
                        <h3>Facebook</h3>
                        <h3>Twitter</h3>
                        <h3>Instagram</h3>
                    </div>
                    <div class="l2">
                        <h2>Make Money with Us</h2>
                        <h3>Sell on Us</h3>
                        <h3>Sell Under Over Accelerator</h3>
                        <h3>Protect and Build Your Brand</h3>
                        <h3>Became an Affiliate</h3>
                        <h3>Fulfill by Us</h3>
                        <h3>Advertise Your Products</h3>
                    </div>
                    <div class="l2">
                        <h2>Let Us Help You</h2>
                        <h3>Your Account</h3>
                        <h3>Returns Center</h3>
                        <h3>100% Purshace Protection</h3>
                        <h3>Help</h3>
                    </div>
                </div>
                <hr>
                <h1>THANI</h1>
                <div class="icon">
                    <div class="icon1">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                </div>
                <h5 id="i1">Copyright 2023 @ Bigtree Entertainment Pvt. Ltd. All Rights Reserved</h5>
                <h5 id="i2">The content and images used on this site are copyright protected and copyrights wests with the respective owners. The usage of the content and images on this website is intended to promote the works and no endorsement of the </h5>
                <h5 id="i3">artist shall be implied. Unauthorized use is prohibited and punishable by law</h5>
            </div>
        </div>
    </footer>
</body>
</html>