<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'img/register.css' %}">
</head>
<body>
    {% include 'imc/header.html' %}
    <section class="py-4">
        <div class="container">
            <div class="row">
                <h1>User Login</h1><br>
                <hr><br><br>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="log">
                        <label for="" class="form-label">User Name</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username"><br><br><br>
                    </div>
                    <div class="log1">
                        <label for="" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control1" placeholder="Enter Password">
                    </div>
                    <button type="submit" id="btn">Login</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>